@import "config";

.buttons {
  display: flex;
  margin-bottom: $gutter *2;
  justify-content: center;
  list-style: none;

  &__button {
    padding: ($gutter *0.5) $gutter;
    margin-right: $gutter;
    margin-left: $gutter;
    font-family: $font-header;
    font-size: 1.5rem; //24/16
    font-weight: 700;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #ccc;
    border: 0;
    border-radius: $gutter;
    transition: background-color $transition;

    &:hover {
      background-color: #aaa;
    }

    &--active {
      background-color: #2d2;

      &:hover {
        background-color: #1a1;
      }
    }
  }
}
