@import "config";

.element {
  display: flex;
  &__youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &--youtube {
    position: relative;
    max-width: 100%;
    padding-bottom: 56.25%; // 100/16*9 til að fá 16:9 aspect ratio
    overflow: hidden;
    margin-bottom: 2rem;
  }

  &__texts {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 1rem;
    color: #000;
  }

  &--quote {
    margin-bottom: 2rem;
    padding: $gutter;
    margin-right: -$gutter;
    margin-left: -$gutter;
    background-color: #ccc;;
  }

  &__quote {
    margin-bottom: 1rem;
  }

  &__image {
    margin-bottom: 2rem;
  }
  
  &__list {
    margin-bottom: 1rem;
  }

  &__listItem {
    margin-bottom: $gutter;
  }

  &__code {
    font-family: $font-header;
    margin-bottom: 2rem;
  }

  &__heading {
    font-family: $font-header;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
