@import "config";

.header {
  position: relative;
  padding-right: $gutter;
  padding-left: $gutter;
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    content: "";
    background-color: rgba(255,255,255,0.4);
  }
  min-height: 30vh;
  margin-bottom: $gutter *2;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: $font-header;
    font-size: 3rem; //48/16
    z-index: 1;
  }

  &__text {
    font-family: $font-header;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 1;
  }

  &--frontpage {
    background-image: url("../img/header.jpg");
  }
}