@import "config";

.lecture {
  padding-right: $gutter;
  padding-left: $gutter;

  &__container {
    max-width: $max-width;
    margin: 0 auto;

  }
  &__row {
    @include row();
    margin-bottom: $gutter*2;
    flex-wrap: wrap;
  }


  &__content {
    @include columns(12);
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
      @include columns(8);
      @include offset-left(2);
    }
    
  }
}
