@import "config";

.listLecture {
  display: flex;
  max-width: $max-width;
  max-height: 100%;
  margin-bottom: $gutter *2;
  text-decoration: none;
  flex-direction: column-reverse;
  flex: 1;
  background-color: #ccc;

  &__bottom {
    display: flex;
    padding: ($gutter *0.5) ($gutter *0.5);
    align-items: center;
  }

  &__text {
    color: #000;
    flex: 1;
  }

  &__title {
    font-family: $font-header;
    font-size: 2rem;
    font-weight: 700;
  }

  &__category {
    font-family: $font-header;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__finished {
    font-size: 3rem;
    color: #2d2;
  }

  &__image {
    display: flex;
    flex: 1;

    img { /* stylelint-disable-line */
      width: 100%;
    }
  }
}
